action=install=c=download-cache={{ download_cache }}=eula=accept=install-dir={{ install_dir }}=intel-sw-improvement-program-consent={{ improvement_consent }}=log-dir={{ log_dir }}=s{{ proxy_setting }}
# proxy_setting needs to be =proxy=server.mycorp.com:3128 f.e